#root {
  padding-bottom: 0;
}

.home-heading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mobile-hamburger, .mobile-close {
  display: none;
  margin: 0 5px;
}

.mobile-hamburger {
  align-self: flex-end;
}

.mobile-close {
  margin: 0 5px;
}

.mobile-hamburger.main {
  right: 0px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.coming-soon-anchor {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.coming-soon-anchor > span {
  background-color: #865CD6;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.4em;
  padding: 0.25em;
}

.map-wrapper {
  border: 2px solid #865CD6;
  border-radius: 4px;
}

// .map-wrapper div:first-child {
//   height: 100vh!important;
// }

.artist-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.artist-image {
  height: auto;
  width: 8em;
}

.artist-info div:nth-child(2) {
  margin-top: 0.5em;
}

.artist-info div {
  margin: 0.25em 0;
}

@media only screen and (max-width : 767px) {
  .grommetux-box--pad-medium {
    padding: 24px;
  }
  .side-nav-header.grommetux-box--pad-medium {
    min-height: unset;
    padding: 0px 0px 24px 24px;
  }
  .side-nav-header.grommetux-box--pad-medium .grommetux-title {
    font-size: 2.5rem;
    margin-top: 24px;
  }
  .mobile-hamburger, .mobile-close {
    display: inline-block;
  }
  .mobile-hamburger.main {
    display: inline;
  }
  .coming-soon-anchor > span {
    font-size: 0.7em;
  }
  .map-wrapper {
    height: 90vh!important;
    min-height: unset!important;
  }
}

@import url('./theme.scss')