/* Theme color overrides */
.grommetux-background-color-index-neutral-1, .grommetux-background-color-index-neutral-5 {
  background-color: #3a3a3a;
}
.grommetux-background-color-index-neutral-2, .grommetux-background-color-index-neutral-6 {
  background-color: #dadada;
}

/* Additional overrides */
.grommetux-title {
  margin-right: 0;
}
.grommet.grommetux-app--centered {
  max-width: unset;
}
.grommetux-button {
  align-self: flex-start;
  margin: 0 24px;
}